In [1]:
import pandas as pd

df = pd.read_csv("food_waste_stuff.csv")
df.head()

,Unnamed: 0,combined figures (kg/capita/year),Household estimate (kg/capita/year),Household estimate (tonnes/year),Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Food service estimate (kg/capita/year),Food service estimate (tonnes/year),M49 code
0,0,126,82,3109153,16,594982,28,1051783,4
1,1,127,83,238492,16,45058,28,79651,8
2,2,135,91,3918529,16,673360,28,1190335,12
3,3,123,84,6497,13,988,26,1971,20
4,4,144,100,3169523,16,497755,28,879908,24

In [ ]:
df.drop(unnamed)