In [1]:
import pandas as pd

# Read CSV files
price_df = pd.read_csv('Price_Info.csv')
dish_df = pd.read_csv('Dish_info.csv')

In [2]:
price_df.head()

           Name  Cost per Unit
0      Potatoes             20
1         onion             30
2      tomatoes             20
3  bell peppers             60
4       spinach             20

In [3]:
dish_df.head()

                dish                 ingredients for 3000 people
0           chappati                      wheat,           300kg
1  chenna dal masala  tomato,onion,chenna,spices           600kg
2            paratha           wheat,aloo,spices     300kg,600kg
3               dosa                      batter           900kg
4             sambar                  dhal,water           450kg

In [4]:
# Split ingredients and expand rows
ingredients_split = dish_df['ingredients'].str.split(',')
dish_df_expanded = dish_df.loc[dish_df.index.repeat(ingredients_split.str.len())]
dish_df_expanded['ingredient'] = [ing.strip() for ingredients in ingredients_split for ing in ingredients]

In [5]:
ingredients_split = dish_df['ingredients'].str.split(',')
num_rows = ingredients_split.str.len()

In [7]:
# Split ingredients and expand rows
ingredients_split = dish_df['ingredients'].str.split(',')
num_rows = ingredients_split.str.len()

# Repeat rows based on the number of ingredients
dish_df_expanded = dish_df.loc[dish_df.index.repeat(num_rows)]
dish_df_expanded['ingredient'] = [ing.strip() for ingredients in ingredients_split for ing in ingredients]

In [15]:
import pandas as pd

# Read CSV files
dish_df = pd.read_csv('dish_info.csv')
price_df = pd.read_csv('price_info.csv')

# Split ingredients and expand rows
ingredients_split = dish_df['ingredients'].str.split(',')
num_rows = ingredients_split.str.len()

# Repeat rows based on the number of ingredients
dish_df_expanded = dish_df.loc[dish_df.index.repeat(num_rows)]
dish_df_expanded['ingredient'] = [ing.strip() for ingredients in ingredients_split for ing in ingredients]

# Merge DataFrames
merged_df = pd.merge(dish_df_expanded, price_df, left_on='ingredient', right_on='Name', how='left')

# Convert "for 3000 people" to numeric values
merged_df['for 3000 people'] = merged_df['for 3000 people'].str.replace('[a-zA-Z]', '', regex=True).astype(float)

# Calculate ingredient cost per dish
merged_df['Ingredient Cost'] = merged_df['Cost per Unit'] * merged_df['for 3000 people']

# Group by dish and aggregate total cost
total_cost_df = merged_df.groupby('dish')['Ingredient Cost'].sum().reset_index()

In [18]:
total_cost_df.to_csv('ultra_data.csv')